<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container py-2 d-flex px-md-4 px-3">
        <a class="navbar-brand fw-bold text-muted float-start">API REST</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
            <div class="mx-auto"></div>
            <div class="navbar-nav float-end">
                <a class="nav-link ps-sm-4 px-0" [routerLinkActiveOptions]="{ exact: true }" routerLink=""
                    routerLinkActive="active">Monedas</a>
                <a class="nav-link ps-sm-4 ps-3 px-0" routerLink="agregar" routerLinkActive="active">Agregar</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>